name: "Terraform Destroy"
 
on:
  workflow_dispatch:

jobs:
  build-push:
    uses: gsoftcolombia/github-actions/.github/workflows/terraform-destroy.yml@main
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}